body{
    padding: 0px;
    margin: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: black;
}

.encabezado{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    background-color: black;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logoAnime:hover{
    transform: scale(1.2);
}

div ul{
    color: aliceblue;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li{
    margin-left: 10px;
    margin-right: 10px;
    padding:auto 10px;
    cursor: pointer;
}

li:hover{
    background-color: rgba(248, 79, 79, 0.932);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
    box-shadow: tomato;
}


.fi-brands-github {
    font-size: 32px;     /* tamaño */
    color: #ffffff;          /* color */
}

.encDerecho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    margin-left: 3px;
}
#img1{
    padding-left: 5px;
    padding-right: 5px;
}

.cuerpo {
    position: relative;
    width: 100%;
    height: 100vh; /* o la altura que necesites */
    overflow: hidden;
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* para que el video quede detrás del contenido */
    filter: contrast(120%);
}

.contenido {
    position: relative;
    z-index: 1;
    color: rgb(249, 235, 255); /* asegúrate de que el texto se vea sobre el video */
    text-align: center;
    padding-top: 20%;
}

.btnPrincipal{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

#btnPrincipal2{
    background-color: #ec1919;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    /*box-shadow: 
    desplazamientoX - desplazamientoY - difuminado - expansión color;*/
    box-shadow: 0 0 10px 10px rgba(235, 8, 8, 0.25);
}

#btnPrincipal2:hover{
    transform: scale(1.1);
    background-color: rgb(35, 35, 224);
    box-shadow: 0 0 10px 10px rgba(3, 41, 211, 0.25);
}

.cuerpoPrincipal{
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

.cat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#subT{
    margin-left: 50px;
}
#imgCat:hover{
    transform: scale(1.08);
    border-radius: 10px;
}

#imgItachi {
    filter: drop-shadow(0 0 10px rgba(255, 242, 129, 0.801));
    padding: 30px;
}

#imgItachi:hover{
    filter: drop-shadow(0 0 10px rgba(255, 10, 10, 0.699));
    padding: 30px;
}

.info{
    margin-top: 10px;
    background-color:#ec1919;
}

.infoItach{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}
#ita{
    background-color: black;
    border-radius: 15px;
    margin: 15PX;
}
#ita2{
    background-color: #ffffff;
    color: black;
    border-radius: 15px;
    margin: 15PX;

}
#ita2 p{
    padding-left: 20px;
    padding-right: 20px;
}